<nav class="navbar navbar-expand-lg fixed-top glass-navbar">

    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="/">

            <div class="logo-circle">

                <i class="bi bi-cup-hot-fill"></i>

            </div>

            <div class="ms-3" style="color:orange;">

                <h4 class="logo-title mb-0">
                    DineFlow
                </h4>

                <small class="logo-subtitle">
                    Smart Restaurant
                </small>

            </div>

        </a>

        <!-- Mobile Toggle -->

        <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#mainNavbar">

            <i class="bi bi-list fs-2 text-white"></i>

        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">

            <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#categories">
                        Categories
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#featured">
                        Featured
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#menu">
                        Menu
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'order_history' %}">
                        Track Order
                    </a>
                </li>


            </ul>

            <!-- Right Side -->

            <div class="d-flex align-items-center gap-3">

                <button class="icon-btn" onclick="scrollToSearch()">

                    <i class="bi bi-search"></i>

                </button>

                <a class="icon-btn d-flex align-items-center justify-content-center" href="{% url 'profile' %}"
                    style="text-decoration: none;">

                    <i class="bi bi-heart"></i>

                </a>

                <button class="cart-btn" onclick="toggleCart()">

                    <i class="bi bi-cart3 me-2"></i>

                    Cart

                    <span id="cartBadge" class="badge-count">

                        0

                    </span>

                </button>

                {% if user.is_authenticated %}

                <div class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">

                        <i class="bi bi-person-circle"></i>

                        {{ user.profile.full_name }}

                    </a>

                    <div class="dropdown-menu dropdown-menu-end">

                        <li>

                            <a class="dropdown-item" href="{% url 'profile' %}">

                                My Profile

                            </a>

                        </li>

                        <li>

                            <a class="dropdown-item" href="{% url 'order_history' %}">

                                My Orders

                            </a>

                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>

                            <a class="dropdown-item text-danger" href="{% url 'logout' %}">

                                Logout

                            </a>

                        </li>

                    </div>

                </div>

                {% else %}

                <div class="nav-item">

                    <a class="btn btn-warning ms-2" href="{% url 'login' %}">

                        Login

                    </a>

                </div>

                <div class="nav-item">

                    <a class="btn btn-warning ms-2" href="{% url 'register' %}">

                        Register

                    </a>

                </div>

                {% endif %}

            </div>

        </div>

    </div>

</nav>
