{% extends 'base.html' %}

{% block content %}

<!-- Hero -->
{% include 'components/hero.html' %}

<!-- Categories -->
{% include 'components/categories.html' %}

<!-- Featured Menu -->
{% include 'components/featured_menu.html' %}

<!-- Complete Menu -->
{% include 'components/menu.html' %}

<!-- Why Choose Us -->
{% include 'components/why_choose_us.html' %}

<!-- Special Offers -->
{% include 'components/offers.html' %}

<!-- Testimonials -->
{% include 'components/testimonials.html' %}

<!-- Newsletter -->
{% include 'components/newsletter.html' %}

<!-- Footer -->
{% include 'components/footer.html' %}

{% endblock %}